main
{
    padding-top: 50px;
}

#countriesList
{
    margin: 0 2%;
}

#universitiesList li
{
    margin:  2%;
    padding: 2%;
    width:   40%;
    
    float:   left;
    
    list-style:    none;
    border:        1px solid dimgray;
    border-radius: 20px;
    box-shadow:    0 0 10px black;
}

#universitiesList li img
{
    border-radius: 50%;
    box-shadow:    0 0 10px black;
    transform:     rotate(-7deg);
    
    overflow:      hidden;
    width:         100px;
    height:        100px;
    margin:        20px 40px 20px 20px;
    
    float: left;
}

#universitiesList span
{
    display: block;
}

.universityName
{
    font-size:   2em;
    font-weight: bold;
    display:     block;
}

.universityFullName
{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}